*.pyc
*.pyc.*
.env*
.coverage
cov.xml
.venv
cov_html
htmlcov
.pytest_cache
local_blob_storage
services/coverage.xml
resources/mongodumps
services/intersection-api/api/out.txt
services/intersection-api/asn1_codec
.github/workflows/sonar.yml
.idea

